@import url("../montserrat.css");
body{
  width: 1920px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
main{
  width: 100%;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../../assets/images/Background.jpg");
  background-position-x: -1px;
  background-position-y: 69px;
  background-repeat: no-repeat;
}
.header{
  width: calc(100vw - 520px);
  min-height: 110px;
  padding: 0 260px;
  margin: 0 calc((100vw - 1920px) / -2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f58021;
}
nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo{
  width: 96px;
  height: 50px;
}
.header__mobile-button{
  display: none;
}
h1{
  width: 0;
  height: 0;
  margin: 0;
  visibility: hidden;
}
ul{
  padding: 0;
}
.main__nav-links{
  width: 553px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
}
li{
  list-style: none;
}
.main__header-link{
  color: #000;
}
.main__header-link_active{
  cursor: default;
  color: #00a092;
}
a{
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color: #00a092;
  text-shadow: 1px 1px .5em white, 2px 2px 4px black;
}
.main__social{
  width: 180px;
  margin-left: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__social-icon{
  width: 40px;
  height: 40px;
}
section{
  padding: 0 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.presentation{
  padding-bottom: 31px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.presentation_title{
  width: 890px;
  height: 280px;
  margin-top: 129px;
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 82px;
  line-height: 100px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00a092;
}
p{
  max-width: 555px;
  margin-top: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #000;
}
.presentation__text{
  width: 430px;
  height: 76px;
  margin-bottom: 50px;
}
button{
  border: none;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  cursor: pointer;
}
.main__button{
  width: 240px;
  height: 74px;
  margin-bottom: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background: #f58021;
}
.main__button:hover, .main__button:active{
  background-color: #d26004;
}
.main__button-img{
  width: 24px;
  margin-left: 10px;
  height: 22px;
}
.description{
  padding-top: 150px;
}
.description__article{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.description__article:nth-of-type(2n){
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.description__text{
  max-width: 560px;
  margin-top: -60px;
  display: block;
}
.description__text:nth-of-type(2){
  margin-top: -40px;
}
h3{
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  letter-spacing: 0.022em;
  text-transform: uppercase;
  color: #00a092;
}
.description__img{
  width: 800px;
  height: 531px;
}
.donate{
  height: 121px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 191px -webkit-max-content;
  -ms-grid-columns: max-content 191px max-content;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  -ms-grid-rows: -webkit-max-content -webkit-max-content;
  -ms-grid-rows: max-content max-content;
  grid-template-rows: -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content;
  -webkit-column-gap: 191px;
     -moz-column-gap: 191px;
          column-gap: 191px;
  background-color: #20113d;
}
/* uncomment next if use IE*/
/*
.donate > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.donate > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.donate > *:nth-child(3){
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.donate > *:nth-child(4){
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
*/
h4{
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #fff;
}
h5{
  margin: 0;
  margin-top: 2px;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  color: #fff;
}
.donate__text{
  max-width: 609px;
  margin-bottom: 0;
  margin-top: 20px;
  color: #fff;
}
.donate__form{
  width: 320px;
  height: 74px;
  padding-left: 14px;
  margin-top: -5px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 22px;
}
.donate__form-text{
  margin: 0;
  color: #fff;
}
.donate__form-input{
  width: 100%;
  border: none;
  background-color: #20113d;
  color: #fff;
}
.donate__form-input::-webkit-outer-spin-button,
.donate__form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.donate__form-btn{
  min-width: 80px;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f58021;
}
.donate__form-btn:hover, .donate__form-btn:active{
  background-color: #d26004;
}
.donate__form-input::-webkit-input-placeholder{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
}
.donate__form-input::-moz-placeholder{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
}
.donate__form-input:-ms-input-placeholder{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
}
.donate__form-input::-ms-input-placeholder{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
}
.donate__form-input::placeholder{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
}
.pets{
  padding-right: 0;
  padding-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pets__title{
  margin-top: 134px;
  margin-left: 20px;
  font-weight: 400;
}
.pets__subtitle{
  width: 920px;
  margin: auto;
  margin-bottom: 105px;
  color: #000;
}
.pets__slider-btns{
  width: 176px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pets__slider-btn{
  width: 60px;
  height: 60px;
  border: 1px solid #20113d;
  background-position: 15px;
  background-color: white;
}
.pets__slider-btn:hover, .pets__slider-btn:active{
  background-color: #20113d;
}
.pets__slider-btn_left{
  background-image: url("../../assets/icons/Union.svg");
}
.pets__slider-btn_left:hover, .pets__slider-btn_left:active{
  background-image: url("../../assets/icons/rrow-left.svg");
}
.pets__slider-btn_right{
  background-image: url("../../assets/icons/purple-arrow.svg");
}
.pets__slider-btn_right:hover, .pets__slider-btn_right:active{
  background-image: url("../../assets/icons/arrow.svg");
}
.pets__slider-btn_disabled{
  background-image: none;
}
.pets__slider-btn_disabled:hover{
  background-color: #c93939;
}
.pets__slider-btn_disabled:hover::before{
  content: 'try flipping the other way';
  position: absolute;
  margin: -90px 0 0 -110px;
}
.pets__slider{
  padding-left: 260px;
  padding-top: 50px;
  padding-bottom: 100px;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 440px 40px 440px 40px 440px 40px 440px 40px 440px 40px 440px 40px 440px 40px 440px;
  grid-template-columns: repeat(8, 440px);
  -ms-grid-rows: 747px 40px 747px;
  grid-template-rows: repeat(2, 747px);
  grid-gap: 40px;
  overflow: hidden;
}
/* uncomment next if use IE*/
/*
.pets__slider > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.pets__slider > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.pets__slider > *:nth-child(3){
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.pets__slider > *:nth-child(4){
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.pets__slider > *:nth-child(5){
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
.pets__slider > *:nth-child(6){
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}
.pets__slider > *:nth-child(7){
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}
.pets__slider > *:nth-child(8){
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}
.pets__slider > *:nth-child(9){
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.pets__slider > *:nth-child(10){
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.pets__slider > *:nth-child(11){
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.pets__slider > *:nth-child(12){
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.pets__slider > *:nth-child(13){
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}
.pets__slider > *:nth-child(14){
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}
.pets__slider > *:nth-child(15){
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}
.pets__slider > *:nth-child(16){
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}
*/
.pets__slide{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.pets__slide:hover{
  -webkit-transform: scale(1.1, 1.05);
      -ms-transform: scale(1.1, 1.05);
          transform: scale(1.1, 1.05);
}
.pets__slide:nth-of-type(4n) > img{
  min-width: 440px;
  min-height: 436px;
  overflow: hidden;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.pets__slide-name{
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px 20px;
  margin: 0;
  border: 1px solid #20113d;
  background: #20113d;
  border-radius: 5px 0px;
}
.pets__slide-content{
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #20113d;
  text-align: center;
}
.pets__slide-title{
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 30px;
  margin-bottom: 17px;
  font-weight: 400;
  letter-spacing: 0.016em;
}
.pets__slide-text{
  max-width: 355px;
  font-weight: 200;
  color: #fff;
}
.pets__slide-btn{
  width: 240px;
  height: 73px;
  padding: 26px;
  margin: auto;
  margin-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #20113d;
  color: #f58021;
}
.pets__slide-btn:hover, .pets__slide-btn:active{
  background-color: #f58021;
  color: #fff;
}
.pets__main-btn{
  width: 359px;
  height: 74px;
  padding: 26px;
  margin-bottom: 150px;
  border: 1px solid #20113D;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #20113D;
}
.pets__main-btn:hover, .pets__main-btn:active{
  background-color: #20113d;
  color: #fff;
}
.pay{
  padding-top: 41px;
  background: #20113D;
}
.pay__list{
  margin: 0;
}
.pay__title{
  margin-bottom: 45px;
  color: #fff;
}
.pay__list-container{
  position: relative;
  padding-top: 66px;
  padding-bottom: 10px;
}
.pay__list-container:nth-of-type(2){
  padding-bottom: 0;
}
.pay__list-item{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.pay__line{
  width: 1280px;
  height: 1px;
  margin-left: 120px;
  margin-bottom: 100px;
  background-color: #fff;
}
.pay__line::before{
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 26px;
  line-height: 130%;
  color: #fff;
}
.pay__line_first::before{
  content: "01"
}
.pay__line_second::before{
  content: "02"
}
.pay__line_third::before{
  content: "03"
}
.pay__list-img{
  border-radius: 5px;
  -o-object-fit: none;
     object-fit: none;
}
.pay__list-description{
  padding-top: 18px;
  margin-left: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pay__list-icon{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 30px;
}
.pay__list-text{
  max-width: 560px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fff;
}
.testimonials{
  width: calc(100% - 300px);
  padding-right: 40px;
  padding-top: 95px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-image: url("../../assets/images/panda.jpg");
  background-size: cover;
}
.testimonials__container{
  width: 100%;
  margin-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
.testimonials__text{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.testimonials__title{
  max-width: 440px;
  height: 120px;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.028em;
  color: #fff;
}
.testimonials__description{
  width: 560px;
  margin-top: 50px;
  font-weight: 300;
  letter-spacing: 0.025em;
}
.testimonials__items{
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(6, 515px);
  grid-template-rows: repeat(3, 463px);
  grid-gap: 30px;
}
/* uncomment next if use IE*/
/*
.testimonials__items > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.testimonials__items > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.testimonials__items > *:nth-child(3){
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.testimonials__items > *:nth-child(4){
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.testimonials__items > *:nth-child(5){
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.testimonials__items > *:nth-child(6){
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
*/
.testimonials__item{
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}
.testimonials__marker{
  margin-top: 49px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 120px;
  line-height: 95px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #00A092;
}
.testimonials__item-title{
  margin-top: -6px;
  margin-bottom: 20px;
  letter-spacing: 0.015em;
  color: #000;
}
.testimonials__item-btns{
    width: 180px;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.testimonials__item-btn{
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  background-color: transparent;
  background-position: 19px;
}
.testimonials__item-btn:hover, .testimonials__item-btn:active{
  background-color: #fff;
}
.testimonials__item-btn_left{
  background-image: url("../../assets/icons/rrow-left.svg");
}
.testimonials__item-btn_left:hover, .testimonials__item-btn_left:active{
  background-image: url("../../assets/icons/Union.svg");
}
.testimonials__item-btn_right{
  background-position-x: 17px;
  background-image: url("../../assets/icons/arrow.svg");
}
.testimonials__item-btn_right:hover, .testimonials__item-btn_right:active{
  background-image: url("../../assets/icons/purple-arrow.svg");
}
.testimonials__mobile-slider{
  display: none;
}
.testimonials__main-btn{
  width: 359px;
  height: 74px;
  padding: 26px 55px;
  margin-bottom: 50px;
  border: 1px solid #fff;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #fff;
  background-color: transparent;
}
.testimonials__main-btn:hover, .testimonials__main-btn:hover{
  background-color: #00a092;
}
.favourites{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}
.favourites__title{
  width: 655px;
  height: 132px;
  margin-top: 136px;
  font-weight: 500;
  letter-spacing: 0.025em;
  text-align: center;
}
.favourites__text{
  width: 537px;
  margin-bottom: 100px;
  color: #000;
  text-align: center;
}
.favourites__container{
  width: 100%;
  margin-bottom: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 658px 40px 658px;
  grid-template-rows: repeat(2, 658px);
  grid-gap: 40px;
                  grid-template-areas:
  "koala koala panda"
  "tiger lemur eagles";
}
.favourites__img{
  -ms-grid-column-span: 3;
  /* uncomment next if use IE*/
  /*
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  */
  grid-area: koala;
}
.favourites__card{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #20113d;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.favourites__card:hover{
  -webkit-transform: scale(1.1, 1.05);
      -ms-transform: scale(1.1, 1.05);
          transform: scale(1.1, 1.05);
}
.favourites__card:first-of-type{
  /* uncomment next if use IE*/
  /*
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  */
  grid-area: panda;
}
.favourites__card:nth-of-type(2){
  /* uncomment next if use IE*/
  /*
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  */
  grid-area: tiger;
}
.favourites__card:nth-of-type(3){
  /* uncomment next if use IE*/
  /*
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  */
  grid-area: lemur;
}
.favourites__card:nth-of-type(4){
  /* uncomment next if use IE*/
  /*
  -ms-grid-row: 3;
  -ms-grid-column: 5;

  */
  grid-area: eagles;
}
.favourites__card-text{
  margin: 30px 25px 50px;
  text-align: center;
  color: #fff;
}
.favourites__card-btn{
  position: absolute;
  bottom: 53px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px;
  width: 142px;
  height: 74px;
  color: #F58021;
  background-color: transparent;
}
.favourites__card-btn:hover,
.favourites__card-btn:active{
  background-color: #f58021;
  color: #fff;
}
.favourites__mobile-slider{
  display: none;
}
.main__prefooter-img{
  max-width: 1400px;
  margin: auto;
  margin-bottom: 250px;
}
.footer{
  width: calc(100vw - 520px);
  height: 329px;
  padding: 70px 260px 0;
  margin: 0 calc((100vw - 1920px) / -2);
  background: #20113d;
}
.footer__nav{
  padding-bottom: 70px;
  border-bottom: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__nav-imgs{
  width: 414px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__nav-links{
  width: 426px;
}
.main__footer-link{
  color: #fff;
}
.testimonials__main-btn_footer{
  padding: 25px;
  margin: 0;
}
.footer__additionally{
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__additionally-copirights{
  width: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__additionally-copiright{
  margin-bottom: 0;
  color: #fff;
}
.popup{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .5s, visibility 0s linear .3s;
  -o-transition: opacity .5s, visibility 0s linear .3s;
  transition: opacity .5s, visibility 0s linear .3s;
  overflow: scroll;
}
.popup_opened{
  visibility: visible;
  opacity: 1;
}
.popup__container{
  position: relative;
  width: 1160px;
  z-index: 3;
  padding-top: 387px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url('../../assets/images/donate.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}
.popup__img{
  width: 100%;
}
.popup__close{
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.popup__title{
  width: 678px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #f58021;
  text-align: center;
}
.popup__text{
  width: 570px;
  text-align: center;
}
.popup__price{
  min-width: -webkit-fill-available;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 32px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup__price-button{
  height: 65px;
  padding: 26px 45px;
  background: #00A092;
  color: #fff;
}
.donate-popup__container{
  position: relative;
  width: 920px;
  height: 819px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}
.donate-popup__title{
  padding: 42px 201px;
  background: #f58021;
}
.donate-popup__text{
  padding: 50px 123px 10px;
  border-bottom: 1px solid #a4a8ae;
  margin-bottom: 0;
  font-weight: 600;
}
.donate-amount__container{
  position: absolute;
  top: 222px;
  padding: 40px 120px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.donate-amount__container_hidden{
  visibility: hidden;
}
.donate-amount__text{
  margin-bottom: 10px;
}
label > span{
  color: #00a092;
}
.donate-amount__rates{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;;
  -ms-flex-wrap: wrap;;
      flex-wrap: wrap;
}
.donate-amount__card{
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.donate-amount__date{
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.donate-amount__rate{
  width: 80px;
  padding: 25px;
  margin-left: 40px;
  margin-bottom: 40px;
  opacity: .5;
}
.donate-amount__rate:first-of-type{
  margin-left: 0;
}
.donate-amount__rate_other{
  width: 200px;
  margin-left: 0;
  padding-left: 21.5px;
}
.donate-amount__rate_input{
  height: 59px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-left: 40px;
  font-size: 18px;
  font-weight: 600;
}
.donate-amount__pet{
  width: 200px;
  margin-left: 0;
  padding: 0;
  padding-left: 17.5px;
  margin-bottom: 40px;
  opacity: .5;
}
.donate-amount__rate_active{
  opacity: 1;
}
.donate-amount__rate_select{
  width: 440px;
  height: 65px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-left: 40px;
  font-size: 18px;
  background-image: url('../../assets/icons/Vector7.svg'), -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
  background-image: url('../../assets/icons/Vector7.svg'), -webkit-gradient(linear, left top, left bottom, from(#ffffff),to(#e5e5e5));
  background-image: url('../../assets/icons/Vector7.svg'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 1px top 50%, 0 0;
  background-size: 32px, 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -moz-text-align-last: center;
       text-align-last: center;
}
.donate-amount__gift{
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.donate-amount__gift-label{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #000;
}
.donate-amount__text-input{
  width: 680px;
  height: 59px;
  padding-left: 20px;
  margin-bottom: 51px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}
.donate-amount__card-input{
  width: 442px;
  margin-right: 40px;
  margin-top: 10px;
}
.donate-amount__cvv-input{
  width: 198px;
  margin-top: 10px;
}
.donate-amount__month{
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.donate-amount__rate_date{
  width: 201px;
  margin-left: 0;
  margin-right: 40px;
  margin-top: 10px;
}
.donate-amount__clarification{
  margin-top: -41px;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 0.01em;
}
.donate__submit-text{
  visibility: hidden;
}
.donate__submit-text_error{
  visibility: visible;
  text-align: center;
  margin: auto;
  margin-top: revert;
  color: red;
  text-transform: uppercase;
}
.donate__progress{
  position: absolute;
  bottom: 50px;
  padding: 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fill-available;
}
.donate__back{
  width: 200px;
  margin-bottom: 0;
  margin-right: 15px;
  background-color: #fff;
  color: #00a092;
  font-weight: 600;
  visibility: visible;
}
.donate__back:hover{
  background-color: #fff;
}
.donate__back_hidden{
  visibility: hidden;
}
.donate__submit{
  width: 200px;
  margin-bottom: 0;
  margin-right: 105px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 26px 45px;
  background: #00a092;
}
.donate__submit:hover{
  background-color: #05786e;
}
.donate__submit-complete{
  width: 359px;
  margin-bottom: 0;
  margin-right: 0;
  background: #F58021;
}
.donate__submit-complete:hover,
.donate__submit-complete:active{
  background: #F58021;
}
.donate__circles{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.donate__circle{
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #00a092;
}
.donate__circle_step{
  background: #00a092;
}