@media (max-width: 1199px) {
  body{
    width: 640px;
  }
  main{
    background-size: contain;
    background-position-y: 366px;
  }
  .header{
    z-index: 2;
    width: calc(100vw - 20px);
    padding: 0 0 0 20px;
    margin-right: calc((100vw - 640px) / -2 - 20px);
    margin-left: calc((100vw - 640px) / -2);
  }
  section{
    padding: 0 20px;
  }
  .presentation{
    height: 643px;
    padding-bottom: 0;
  }
  .presentation_title{
    max-width: 600px;
    height: 332px;
    margin-top: 46px;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.045em;
  }
  .main__button{
    width: 285px;
    margin-bottom: 0;
  }
  .description{
    padding: 100px 0 55px;
  }
  .description__article{
    margin-bottom: 30px;
  }
  .description__text{
    padding: 0 20px 0 21px;
  }
  h3{
    font-weight: 600;
    font-weight: 400;
    letter-spacing: 0.04em;
  }
  p{
    width: 600px;
    max-width: 600px;
    letter-spacing: 0.0039em;
  }
  .description__img{
    width: 655px;
    margin-left: -7px;
  }
  .description__article:nth-of-type(2) > .description__img{
    width: 640px;
    height: 425px;
    margin-left: 0px;
  }
  .donate{
    position: relative;
    height: 409px;
    padding: 50px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .donate > h4{
    width: 565px;
  }
  .donate > h5{
    position: absolute;
    bottom: 136px;
    margin-right: -2px;
  }
  .donate__text{
    margin-top: 29px;
  }
  .donate__form{
    position: absolute;
    bottom: 50px;
    width: 363px;
    padding: 23px 0 27px 37px;
  }
  .donate__form-text{
    width: 19px;
  }
  .donate__form-input{
    letter-spacing: 0.023em;
  }
  .donate__form-btn{
    min-width: 74px;
    height: 74px;
  }
  .pets{
    padding: 0 20px;
  }
  .pets__title{
    width: 394px;
    margin-left: 0;
    margin-top: 97px;
    text-align: center;
  }
  .pets__subtitle{
    width: 600px;
    margin-bottom: 22px;
    letter-spacing: 0.013em;
  }
  .pets__slider-btns{
    display: none;
  }
  .pets__slider{
    padding-left: 0;
    grid-template-columns: repeat(16, 290px);
    grid-template-rows: repeat(1, 600px);
    /* uncomment next if use IE*/
    /*
    -ms-grid-rows: (600px)[1];
    -ms-grid-columns: (290px)[16];
    */
  }
  /* uncomment next if use IE*/
  /*
  .pets__slider > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .pets__slider > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .pets__slider > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .pets__slider > *:nth-child(4){
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .pets__slider > *:nth-child(5){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .pets__slider > *:nth-child(6){
    -ms-grid-row: 1;
    -ms-grid-column: 6;
  }
  .pets__slider > *:nth-child(7){
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .pets__slider > *:nth-child(8){
    -ms-grid-row: 1;
    -ms-grid-column: 8;
  }
  .pets__slider > *:nth-child(9){
    -ms-grid-row: 1;
    -ms-grid-column: 9;
  }
  .pets__slider > *:nth-child(10){
    -ms-grid-row: 1;
    -ms-grid-column: 10;
  }
  .pets__slider > *:nth-child(11){
    -ms-grid-row: 1;
    -ms-grid-column: 11;
  }
  .pets__slider > *:nth-child(12){
    -ms-grid-row: 1;
    -ms-grid-column: 12;
  }
  .pets__slider > *:nth-child(13){
    -ms-grid-row: 1;
    -ms-grid-column: 13;
  }
  .pets__slider > *:nth-child(14){
    -ms-grid-row: 1;
    -ms-grid-column: 14;
  }
  .pets__slider > *:nth-child(15){
    -ms-grid-row: 1;
    -ms-grid-column: 15;
  }
  .pets__slider > *:nth-child(16){
    -ms-grid-row: 1;
    -ms-grid-column: 16;
  }
  */
  .pets__slide{
    left: -1550px;
  }
  .pets__slide_img{
    width: 290px;
    height: 333px;
    min-height: 333px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pets__slide-name{
    padding: 13px 25px 20px 27px;
  }
  .pets__slide-title{
    margin-top: 14px;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 0.015em;
  }
  .pets__slide-text{
    max-width: 241px;
    letter-spacing: 0.03em;
  }
  .pets__slide-btn{
    padding: 26px 19px;
    margin-bottom: 11px;
    letter-spacing: 0.1em;
  }
  .pets__main-btn {
    width: 345px;
    height: 74px;
    padding-left: 26px;
    margin-top: 1px;
    margin-bottom: 100px;
  }
  .pay{
    padding: 77px 0;
  }
  .pay__title{
    width: 421px;
    margin: auto;
    margin-left: 100px;
    letter-spacing: 0.025em;
  }
  .pay__list-container{
    padding-bottom: 15px;
  }
  .pay__list-container:first-of-type{
    padding-top: 68px;
    padding-bottom: 0;
  }
  .pay__list-container:nth-of-type(2){
    padding-bottom: 70px;
  }
  .pay__line{
    width: 563px;
    margin-left: 57px;
    margin-bottom: 70px;
  }
  .pay__line::before{
    top: 51px;
    left: 20px;
  }
  .pay__line_first{
    margin-bottom: 67px;
  }
  .pay__line_third:before{
    top: -17px;
  }
  .pay__list-item{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pay__list-img{
    width: 640px;
    height: 417px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .pay__list-container:first-of-type > .pay__list-item > .pay__list-img{
    margin-top: 2px;
  }
  .pay__list-description{
    width: 100%;
    padding: 0;
    margin-left: 0;
    text-align: center;
  }
  .pay__list-container:first-of-type > .pay__list-item > .pay__list-description > .pay__list-icon{
    margin-bottom: 27px;
  }
  .pay__list-container:last-of-type{
    padding-bottom: 0;
    padding-top: 0;
  }
  .pay__list-icon{
    margin-top: 49px;
  }
  .pay__list-container:last-of-type > .pay__list-item > .pay__list-description > .pay__list-icon{
    margin-top: 50px;
  }
  .pay__list-item-title{
    font-weight: 300;
    letter-spacing: 0.017em;
  }
  .pay__list-container:last-of-type > .pay__list-item > .pay__list-description > .pay__list-title{
    margin-top: 0;
    margin-bottom: 2px;
  }
  .pay__list-text{
    max-width: 600px;
    margin-bottom: -2px;
  }
  #donate-button{
    width: 290px;
    margin-bottom: -5px;
    margin-top: 58px;
    margin-left: 0;
    letter-spacing: 0.015em;
  }
  .testimonials{
    height: 1608px;
    padding-top: 85px;
    background: url("../../assets/images/Background640.jpg"), -o-linear-gradient(top, #20113D, #20113D);
    background: url("../../assets/images/Background640.jpg"), -webkit-gradient(linear, left top, left bottom, from(#20113D), to(#20113D));
    background: url("../../assets/images/Background640.jpg"), linear-gradient(to bottom, #20113D, #20113D);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-y: 680px, top;
  }
  .testimonials__items{
    margin-left: 0;
    grid-template-columns: repeat(12, 523px);
    grid-template-rows: 371px;
    grid-gap: 20px;
  }
  /* uncomment next if use IE*/
  /*
  .testimonials__items > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .testimonials__items > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .testimonials__items > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .testimonials__items > *:nth-child(4){
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  */
  .testimonials__item{
    padding: 0 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .testimonials__marker{
    margin-top: 46px;
    margin-left: 2px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .testimonials__item-title{
    position: absolute;
    width: 289px;
    margin: auto;
    margin-top: 50px;
    font-weight: 500;
    text-align: center;
  }
  .testimonials__item > p{
    width: 463px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 0;
  }
  .testimonials__item-btns{
    display: none;
  }
  .testimonials__main-btn{
    position: absolute;
    left: 20px;
    bottom: 718px;
    width: 368px;
    padding: 26px 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    letter-spacing: 0.015em;
  }
  .favourites{
    margin-top: -15px;
    z-index: 1;
    padding-top: 13px;
  }
  .favourites__title{
    width: 600px;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 30px;
  }
  .favourites__text{
    width: 600px;
    margin: auto;
    margin-bottom: 70px;
  }
  .favourites__container{
    position: relative;
    margin-left: -1280px;
    margin-bottom: 51px;
    -ms-grid-columns: 600px 40px 600px 40px 600px 40px 600px;
    grid-template-columns: repeat(4, 600px);
    -ms-grid-rows: 297px;
    grid-template-rows: 297px;
    grid-gap: 40px;
            grid-template-areas:
      "koala panda lemur tiger eagles";
  }
  .favourites__container_1{
    margin-left: -2560px;
  }
  .favourites__container_2{
    margin-left: -3840px;
  }
  .favourites__container_3{
    margin-left: -5120px;
  }
  .favourites__img{
    width: 600px;
  }
  .favourites__card{
    width: 600px;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .favourites__card > img{
    width: 300px;
    height: 297px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: -50px;
       object-position: -50px;
  }
  .favourites__card-text{
    width: 260px;
    margin: 66px 25px 50px;
    text-align: center;
  }
  .favourites__card-btn{
    bottom: 35px;
    right: 77px;
    padding-right: 29px;
  }
  .favourites__mobile-slider{
    width: 92px;
    margin-bottom: 49px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .favourites__mobile-slider-circle{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #fff;
  }
  .favourites__mobile-slider-circle_active{
    background-color: #000;
  }
  .favourites > .pets__main-btn{
    height: 74px;
    width: 359px;
    padding-left: 31px;
    padding-right: 28px;
    margin-bottom: 95px;
    letter-spacing: 0.02em;
  }
  .main__prefooter-img{
    width: 641px;
    height: 379px;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transform: scale(1.27);
        -ms-transform: scale(1.27);
            transform: scale(1.27);
    margin-top: 5px;
    margin-left: 82px;
    margin-bottom: 100px;
  }
  .footer{
    top: 10576px;
    width: 100vw;
    margin: 0 calc((100vw - 640px) / -2);
    height: 497px;
    padding: 48px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav{
    position: relative;
    width: 445px;
    min-height: 246px;
    padding: 0 96px 51px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav-imgs{
    width: 100%;
    margin-top: 0;
  }
  .footer__nav-imgs > a{
    margin-top: 2px;
  }
  .footer__nav-links{
    width: 100%;
    margin-top: 29px;
    margin-left: 1px;
    margin-right: 1px;
    letter-spacing: 0.01em;
  }
  .main__nav-links_footer{
    visibility: visible;
  }
  .testimonials__main-btn_footer{
    left: 135px;
    top: 146px;
    width: 360px;
    height: 74px;
    margin-top: 28px;
    padding: 26px 34px;
    letter-spacing: 0.022em;
  }
  .footer__additionally{
    width: 444px;
    height: 199px;
    padding: 49px 98px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__additionally-copirights{
    width: 444px;
    margin-left: 0;
  }
  .footer__additionally-copirights > li > p{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .main__social_footer{
    width: 220px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 12px;
    visibility: visible;
  }
  .main__social_footer > li:first-of-type{
    margin-top: 2px;
  }
  .popup__container{
    width: 640px;
    max-height: 456px;
    height: 100vh;
    padding-top: 187px;
    background-position-y: -47px;
  }
  .popup__title{
    width: 485px;
    margin-top: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
  }
  .popup__text{
    width: 475px;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
  }
  .popup__price{
    padding: 0 77px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 135px 20px 135px 20px 135px;
    grid-template-columns: repeat(3, 135px);
    -ms-grid-rows: 65px 40px 65px;
    grid-template-rows: 65px 65px;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
  /* uncomment next if use IE*/
  /*
  .popup__price > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .popup__price > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .popup__price > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .popup__price > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .popup__price > *:nth-child(5){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .popup__price > *:nth-child(6){
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  */
  .popup__price-button{
    width: 135px;
  }
  .popup__price-button:last-of-type{
    width: 135px;
    padding: initial;
  }
  .donate-popup__container{
    width: 600px;
    height: 981px;
  }
  .donate-popup__title{
    padding: 24px 41px;
  }
  .donate-popup__text{
    padding: 50px 77px 10px;
  }
  .donate-amount__container{
    top: 186px;
    width: 445px;
    padding: 40px 77px 0;
  }
  .donate-amount__text{
    margin-bottom: 20px;
  }
  .donate-amount__rates{
    width: 100%;
  }
  .donate-amount__rates > .popup__price-button{
    width: 135px
  }
  #card{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .donate-amount__rate{
    width: 135px;
    padding: 25px 46px;
    margin-right: 20px;
    margin-left: 0;
    margin-bottom: 40px;
  }
  .donate-amount__rate:nth-of-type(3n){
    margin-right: 0;
  }
  .donate-amount__rate_other{
    width: 212px !important;
    padding: 23px !important;
  }
  .donate-amount__rate_input{
    width: 164px !important;
    height: 17px;
    margin-left: 0;
  }
  .donate-amount__pet{
    width: 212px !important;
    padding: 21px 23px !important;
    margin-right: 234px;
  }
  .donate-amount__rate_select{
    width: 100% !important;
    padding: 19px !important;
    margin: 0 0 40px;
  }
  .donate-amount__text-input{
    width: 446px;
  }
  .donate-amount__card-input{
    width: 100%;
    margin: 10px 0 0;
  }
  label[for="card-cvv"]{
    margin-right: 200px;
  }
  .donate-amount__cvv-input{
    width: 212px;
    margin-top: 10px;
  }
  .donate-amount__rate_date{
    width: 212px !important;
    margin-right: 20px !important;
    margin-top: 10px;
  }
  .donate-amount__clarification{
    width: 446px;
  }
  .donate__progress{
    padding: 0 77px;
  }
  .donate__back{
    width: 170px;
    margin-right: 0;
  }
  .donate__back:hover{
    background-color: #fff;
  }
  .donate__submit{
    width: 213px;
    margin-right: 0;
  }
  .donate__submit:hover{
    background-color: #05786e;
  }
  .donate__submit-complete{
    min-width: 290px;
    margin-left: 77px;
    background-color: #f58021 !important;
  }
}

@media (max-width: 865px) {
  nav {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .main__social {
    margin-left: 10px;
  }
  .main__nav-links {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .main__header-link {
    margin-right: 10px;
  }
  .main__nav-links_footer{
    width: 480px;
  }
}

@media (max-width: 700px) {
  .header{
    position: fixed;
  }
  .header__mobile-button {
    position: absolute;
    z-index: 1;
    right: 46px;
    width: 32px;
    height: 30px;
    padding: 0;
    border: none;
    border-radius: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url("../../assets/icons/hamburger.svg");
  }
  .header__mobile-button_opened{
    right: 47px;
    width: 30px;
    background: url("../../assets/icons/close.svg");
  }
  .header__mobile-button:hover,
  .header__mobile-button:focus,
  .header__mobile-button:active{
    background-color: transparent;
    border: none;
  }
  .nav_mobile{
    visibility: visible;
  }
  .main__nav-links{
    visibility: hidden;
  }
  .main__nav-links_opened{
    position: absolute;
    right: 0;
    top: -18px;
    width: 311px;
    height: 754px;
    padding-top: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: visible;
    background: #20113d;
  }
  .main__nav-links_opened > li{
    margin-bottom: 50px;
  }
  .main__header-link{
    color: #fff;
  }
  .main__header-link_active {
    cursor: default;
    color: #00a092;
  }
  .main__social{
    visibility: hidden;
  }
  .main__nav-links_footer{
    visibility: visible;
  }
  .main__social_footer{
    visibility: visible;
  }
}