@media (max-width: 639px) {
  body{
    width: 320px;
  }
  .header__mobile-button {
    left: auto;
    top: auto;
    right: 35px;
    width: 22px;
  }
  .header__mobile-button_opened{
    width: 30px;
  }
  nav {
    width: 200px;
  }
  .nav__links_opened{
    width: 233px;
    height: 600px;
    padding-top: 130px;
  }
  .nav__links_opened > li{
    margin-bottom: 40px;
  }
  h2{
    width: 100%;
    margin-bottom: 21px;
    margin-top: 20px;
    font-size: 26px;
    line-height: 130%;
    text-transform: lowercase;
  }
  main{
    width: 100vw;
    padding: 0;
    margin-bottom: 53px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .main__canvas{
    width: 362px;
    height: 234px;
    margin-top: 0;
  }
  .main__canvas > img{
    width: 362px;
    height: 234px
  }
  #alligator{
    left: 43px;
    bottom: 36px;
    -webkit-transform: scale(.35);
        -ms-transform: scale(.35);
            transform: scale(.35);
  }
  #alligator:hover{
    bottom: 39px;
  }
  #coala{
    right: 1px;
    bottom: -24px;
    -webkit-transform: scale(.35);
        -ms-transform: scale(.35);
            transform: scale(.35);
  }
  #coala:hover{
    bottom: -21px;
  }
  #panda{
    right: 51px;
    bottom: 51px;
    -webkit-transform: scale(.35);
        -ms-transform: scale(.35);
            transform: scale(.35);
  }
  #panda:hover{
    bottom: 54px;
  }
  #tiger{
    right: 33px;
    bottom: 7px;
    -webkit-transform: scale(.35);
        -ms-transform: scale(.35);
            transform: scale(.35);
  }
  #tiger:hover{
    bottom: 10px;
  }
  #gorilla{
    right: 119px;
    bottom: 12px;
    -webkit-transform: scale(.35);
        -ms-transform: scale(.35);
            transform: scale(.35);
  }
  #gorilla:hover{
    bottom: 15px;
  }
  #lion{
    left: 116px;
    bottom: 33px;
    -webkit-transform: scale(.35);
        -ms-transform: scale(.35);
            transform: scale(.35);
  }
  #lion:hover{
    bottom: 36px;
  }
  #lemur{
    right: 93px;
    bottom: -11px;
    -webkit-transform: scale(.35);
        -ms-transform: scale(.35);
            transform: scale(.35);
  }
  #lemur:hover{
    bottom: -8px;
  }
  #eagles{
    left: 5px;
    bottom: 47px;
    -webkit-transform: scale(.35);
        -ms-transform: scale(.35);
            transform: scale(.35);
  }
  #eagles:hover{
    bottom: 50px;
  }
  .footer{
    top: 8940px;
    height: 697px;
    margin: 0 calc((100vw - 320px) / -2);
  }
  .footer__nav{
    width: 320px;
    min-height: 389px;
    padding: 0 0 53px;
  }
  .footer__nav-imgs{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav-imgs > a{
    margin-top: 3px;
    margin-bottom: 26px;
  }
  .footer__nav-imgs > img{
    margin-bottom: 30px;
  }
  .footer__nav-links{
    margin-top: 0;
  }
  .nav-links_footer{
    margin: 0 11px;
    line-height: 1.3;
    font-weight: 300;
    font-size: 16px;
  }
  button{
    margin-top: 30px;
    margin-left: 5px;
    left: 107px;
    top: 270px;
    width: 299px;
    height: 46px;
    padding: 0 24px 0 26px;
    letter-spacing: 0.01em;
    text-transform: inherit;
  }
  .footer__additionally{
    position: relative;
    width: 320px;
    padding: 34px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__additionally-copirights{
    width: 300px;
    height: 131px;
    margin: 0;
    margin-left: 3px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__additionally-copirights > li > p{
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 0;
  }
  .social_footer{
    position: absolute;
    top: -72px;
    margin-bottom: 58px;
  }
}